<div class="component-container">
    <div class="form-viewer-wrapper">
      <div class="form-viewer-title">
        <div class="form-viewer-title-spacer">Gönderi Düzenle</div>
      </div>
      <div fxLayout="row" fxLayoutWrap fxLayoutGap="60px" class="form-viewer-body">
        <md-input-container>
          <input mdInput placeholder="Başlık" [(ngModel)]="vm.title" />
        </md-input-container>
      </div>
      <div fxLayout="row" fxLayoutWrap fxLayoutGap="60px" class="form-viewer-body">
        <div [froalaEditor] [(froalaModel)]="vm.content"></div>
      </div>
      <div fxLayout="row" fxLayoutWrap fxLayoutGap="60px" class="form-viewer-body">
          <md-checkbox *ngFor="let t of tags" (change)="toggleCheckBox($event)" [value]="t.id" [checked]="t.selected">{{ t.name }}</md-checkbox>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end center" class="form-viewer-body">
        <button type="button" md-raised-button (click)="dialogRef.close(vm)" color="primary">Kaydet</button>
      </div>
    </div>
  </div>